<section class="d-flex justify-content-center my-4 container">
    <div id="sliderAgronext" class="carousel slide height-slider"  data-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img class="d-block w-100 rounded-4 mb-4 height-slider" src="assets/pictures/fondoblanco.jpg" alt="Software slider">
                <div class="carousel-caption">
                    <div class="position-relative green-slider-position"> 
                        <svg width="900" height="450" viewBox="0 0 493 217" fill="none" xmlns="http://www.w3.org/2000/svg" class="position-absolute">
                            <path d="M0.141401 99.9999C0.208626 44.7715 45.0346 0.0544966 100.263 0.121722L392.506 0.477445C447.735 0.54467 492.452 45.3706 492.384 100.599L492.365 116.762C492.297 171.991 447.472 216.708 392.243 216.64L100 216.285C44.7715 216.217 0.0545022 171.391 0.121727 116.163L0.141401 99.9999Z" 
                              fill="url(#paint0_linear_3_228)" 
                              fill-opacity="0.8"
                              clip-path="url(#clipPath)"
                            />
                            <defs>
                              <linearGradient id="paint0_linear_3_228" x1="286.478" y1="34.2146" x2="286.215" y2="250.377" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#0CFE07"/>
                                <stop offset="0.9997" stop-color="#004303"/>
                                <stop offset="0.9998" stop-color="#003F02"/>
                                <stop offset="0.9999" stop-color="#003C02"/>
                                <stop offset="1" stop-color="white" stop-opacity="0"/>
                              </linearGradient>
                              <clipPath id="clipPath">
                                <rect x="0" y="0" width="355" height="217"/>
                              </clipPath>
                            </defs>
                          </svg>
                          
                    </div>

                    <div class="slider-image-position position-absolute">
                        <img class="d-block  rounded-4 mb-4" src="assets/pictures/publicidad-digital.png" alt="Third slide">
                    </div>

                    <div class="text-start text-position-slider">
                        <h4 class="olive-green text-uppercase">Software</h4>
                        <h1 class="green text-uppercase">Software</h1>
                        <h2 class="text-uppercase light-green text-space">Mayor control de tus cosechas</h2>
                    </div>
                    <div class="">
                        <div class="d-flex justify-content-start mt-4 text-font button-position-slider">
                            <button class="btn btn-blue rounded-5 px-4 fw-medium shadow" routerLink="/software">Más Info</button>
                        </div>
                    </div>
                </div>
            </div>

        <div class="carousel-item" data-bs-interval="">
            <img class="d-block w-100 rounded-4 mb-4 height-slider" src="assets/pictures/fondoblanco.jpg" alt="Digitalizacion slider">
            <div class="carousel-caption">
                <div class="position-relative green-slider-position"> 
                    <svg width="900" height="450" viewBox="0 0 493 217" fill="none" xmlns="http://www.w3.org/2000/svg" class="position-absolute">
                        <path d="M0.141401 99.9999C0.208626 44.7715 45.0346 0.0544966 100.263 0.121722L392.506 0.477445C447.735 0.54467 492.452 45.3706 492.384 100.599L492.365 116.762C492.297 171.991 447.472 216.708 392.243 216.64L100 216.285C44.7715 216.217 0.0545022 171.391 0.121727 116.163L0.141401 99.9999Z" 
                          fill="url(#paint0_linear_3_228)" 
                          fill-opacity="0.8"
                          clip-path="url(#clipPath)"
                        />
                        <defs>
                          <linearGradient id="paint0_linear_3_228" x1="286.478" y1="34.2146" x2="286.215" y2="250.377" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#0CFE07"/>
                            <stop offset="0.9997" stop-color="#004303"/>
                            <stop offset="0.9998" stop-color="#003F02"/>
                            <stop offset="0.9999" stop-color="#003C02"/>
                            <stop offset="1" stop-color="white" stop-opacity="0"/>
                          </linearGradient>
                          <clipPath id="clipPath">
                            <rect x="0" y="0" width="355" height="217"/>
                          </clipPath>
                        </defs>
                      </svg>
                </div>

                <div class="slider-image-position position-absolute">
                    <img class="d-block  rounded-4 mb-4" src="assets/pictures/numero-uno.png" alt="Digitalizacion slider">
                </div>

                <div class="text-start text-position-slider">
                    <h4 class="olive-green text-uppercase">Agronext</h4>
                    <h1 class="green text-uppercase">Digitalización</h1>
                    <h2 class="text-uppercase light-green text-space">Empresa número uno de La Rioja</h2>
                </div>
                <div class="">
                    <div class="d-flex justify-content-start mt-4 gap-4 text-font button-position-slider">
                        <button class="btn btn-blue rounded-5 px-4 fw-medium shadow" routerLink="/us">Conócenos</button>
                        <button class="btn btn-green rounded-5 px-4 fw-medium shadow" routerLink="/contactForm">Contáctanos</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item " data-bs-interval="">
            <img class="d-block w-100 rounded-4 mb-4 height-slider" src="assets/pictures/fondoblanco.jpg" alt="Software slider">
                <div class="carousel-caption">
                    <div class="position-relative green-slider-position"> 
                        <svg width="900" height="450" viewBox="0 0 493 217" fill="none" xmlns="http://www.w3.org/2000/svg" class="position-absolute">
                            <path d="M0.141401 99.9999C0.208626 44.7715 45.0346 0.0544966 100.263 0.121722L392.506 0.477445C447.735 0.54467 492.452 45.3706 492.384 100.599L492.365 116.762C492.297 171.991 447.472 216.708 392.243 216.64L100 216.285C44.7715 216.217 0.0545022 171.391 0.121727 116.163L0.141401 99.9999Z" 
                              fill="url(#paint0_linear_3_228)" 
                              fill-opacity="0.8"
                              clip-path="url(#clipPath)"
                            />
                            <defs>
                              <linearGradient id="paint0_linear_3_228" x1="286.478" y1="34.2146" x2="286.215" y2="250.377" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#0CFE07"/>
                                <stop offset="0.9997" stop-color="#004303"/>
                                <stop offset="0.9998" stop-color="#003F02"/>
                                <stop offset="0.9999" stop-color="#003C02"/>
                                <stop offset="1" stop-color="white" stop-opacity="0"/>
                              </linearGradient>
                              <clipPath id="clipPath">
                                <rect x="0" y="0" width="355" height="217"/>
                              </clipPath>
                            </defs>
                          </svg>
                    </div>

                    <div class="slider-image-position position-absolute">
                        <img class="d-block  rounded-4 mb-4" src="assets/pictures/desarrollo-movil .png" alt="Automatización">
                    </div>

                    <div class="text-start text-position-slider">
                        <h4 class="olive-green text-uppercase">Agronext</h4>
                        <h1 class="green text-uppercase">Automatización</h1>
                        <h2 class="text-uppercase light-green text-space">Sistemas de monitorización y control digital</h2>
                    </div>
                    <div class="">
                        <div class="d-flex justify-content-start mt-4 gap-4 text-font button-position-slider">
                            <button class="btn btn-blue rounded-5 px-4 fw-medium shadow" routerLink="#">Más Info</button>
                            <button class="btn btn-green rounded-5 px-4 fw-medium shadow" routerLink="#">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</section>
<div>
    <div class="d-flex d-none d-md-block" >
        <button class="carousel-control-prev" type="button" data-bs-target="#sliderAgronext" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#sliderAgronext" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
</div>

