<div class="container mt-3">
    <div class="card inner-main">
      <div class="card-header">
        Tu cuenta
      </div>
      <div class="card-body">
        <p class="card-text">Nombre: {{UserProfile.name}}</p>
        <p class="card-text">Email: {{UserProfile.email}}</p>
        <p class="card-text">Rol: {{UserProfile.privilege}}</p>
        <label>Añade una foto:</label>
        <input type="file" id="file" class="form-control mb-4" formControlName="image">
      </div>
    </div>
  </div>
